@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?gsrj5w");
    src:
        url("fonts/icomoon.eot?gsrj5w#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?gsrj5w") format("truetype"),
        url("fonts/icomoon.woff?gsrj5w") format("woff"),
        url("fonts/icomoon.svg?gsrj5w#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
    color: #8385a9;
}
.icon-instagram:before {
    content: "\e901";
    color: #8385a9;
}
.icon-pinterest:before {
    content: "\e902";
    color: #8385a9;
}
