@use "./mixins.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600;700&display=swap");

:root {
    // --base-font-size: 62.5%;
    --base-font-size: 14px;
    --primary-font-family: "Red Hat Text", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    font-size: var(--base-font-size);
}

body {
    min-height: 100vh;
    color: var(--clr-white);
    font-family: var(--primary-font-family);
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    @media screen and (min-height: 1100px) {
        overflow: hidden;
    }

    @include transition;

    .dark-mode-bg,
    .light-mode-bg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--clr-darker-blue);
        background: var(--clr-main-background-color);
        z-index: 0;
        opacity: 1;
        content: "";
        transition: all ease-in 1s;
        overflow: hidden;
    }

    .dark-mode-bg:after {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./milky-way-5295155_1920.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% -50%;
        content: "";
        opacity: 0.08;
    }

    .light-mode-bg {
        background: linear-gradient(0deg, hsl(236, 21%, 26%) 0%, hsl(217, 97%, 88%) 40%);
        opacity: 0;
    }

    .dark-mode-stars-bg,
    .light-mode-sun-bg {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .dark-mode-stars-bg {
        justify-content: center;
        align-items: center;
        svg {
            margin: 0 auto;

            @media screen and (min-width: 60em) {
                transform: scale(1.5);
            }
        }
    }

    &.light-mode {
        .dark-mode-bg {
            opacity: 0;
        }
        .light-mode-bg {
            opacity: 1;
            transition-delay: 500ms;
        }

        header h1 {
            color: hsl(217, 97%, 20%);
        }
    }

    #flip-counter-app {
        position: relative;
        z-index: 10;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font-family);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

h1 {
    font-size: 1.25rem;

    @media screen and (min-width: 40em) {
        font-size: 2em;
    }
}

h2 {
    font-size: 0.875rem;
    font-weight: 500;
}

@media screen and (min-width: 60em) {
    h2 {
        font-size: 1.4rem;
    }
}

#flip-counter-app {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    justify-items: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: 60em) {
        grid-template-rows: 1fr 1fr 400px;
    }
}

.margin-top-small {
    margin-top: 1rem;
}

header,
.countdown-timer-container,
footer,
.light-mode-toggle {
    z-index: 10;
}

header {
    padding: 0 3rem;
    line-height: 1.5;
    text-align: center;

    h1 {
        margin: 2rem -0.5em auto 0;
        @include transition(1s, 1100ms);
        opacity: 0;
        filter: blur(10px);

        &.loaded,
        &.easein {
            opacity: 1;
        }

        &.focus {
            filter: blur(0);
        }

        &.easeout {
            opacity: 0;
        }
    }
}

.logo {
    display: block;
    margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        place-items: center;
        padding-right: calc(var(--section-gap) / 2);
    }

    .logo {
        margin: 0 2rem 0 0;
    }

    header .wrapper {
        display: flex;
        place-items: flex-start;
        flex-wrap: wrap;
    }
}

svg > path {
    @include transition;
}

.container {
    width: 100%;
    max-width: 1440px;
}

.grid {
    display: grid;
    position: relative;
    width: 100%;
    gap: 1rem;

    &.grid-cols-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (max-width: 40em) {
            gap: 0;
        }
    }

    .grid-item {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        width: auto;
    }
}

.menu {
    margin: 2rem 0;
    padding: 0;
    list-style-type: none;
    &--horizontal {
        li {
            display: inline-block;
            margin: 0 1rem;
        }
    }
}

header,
main.countdown-timer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-top: 1rem;

    @media screen and (min-height: 1100px) {
        overflow: hidden;
    }

    &.overflow-auto {
        overflow: auto;
    }

    @media screen and (min-width: 60em) {
        align-items: center;
    }
}

header {
    @media screen and (max-width: 40em) {
        align-items: flex-end;
    }
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -1rem;

    > * {
        position: relative;
        z-index: 1;
    }

    .footer-bg {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        z-index: 0;
        overflow-x: hidden;
        margin-bottom: -1rem;

        &-left,
        &-right {
            svg {
                transform: scaleX(-1);
            }
        }

        &-center {
            margin: 0 -1px 0 -1px;
        }

        .footer-hills {
            .hills-background,
            .hills-shadow,
            .hills-foreground {
                &.easein,
                &.easeout,
                &.easein svg > path,
                &.easeout svg > path {
                    @include transition-ease-in;
                }

                &.easein {
                    transform: translateY(0);
                }

                &.easeout {
                    transform: translateY(105%);
                }
            }
        }
    }

    .menu-social,
    .attribution {
        transform: translateY(200%);
    }

    .footer,
    .attribution {
        @include transition-ease-in;

        a {
            @include transition;
            &:hover {
                color: var(--clr-white);
            }
        }
    }

    .menu-social {
        transition-delay: 350ms;
        &.animate-in {
            transform: translateY(0);
        }

        a {
            font-size: 1.72rem;
            text-decoration: none;
            color: var(--clr-gray-blue-hover);

            span:before {
                @include transition-ease-in;
            }

            &.dark:hover span:before {
                color: var(--clr-gray-blue-hover);
            }

            &.light {
                span:before {
                    color: var(--clr-darker-blue);
                }
            }

            &.light:hover span:before {
                color: var(--clr-darker-blue-hover);
            }
        }
    }

    .attribution {
        &.animate-in {
            transform: translateY(-2rem);
        }
    }

    .menu {
        transform: translateY(-2rem);
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        position: relative;
    }

    .attribution a {
        color: var(--clr-gray-blue);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
